<div class="edicion">
    <div class="titulo">
      <div class="header">
        <h1>Mi Perfil</h1>
      </div>
    </div>
    
    <div class="top-container"></div>
    
    <div class="middle-content">
      <div class="image-container">
        <img src="assets/img/logoVerdeNavegacion.png" alt="Imagen de perfil" class="profile-image">
      </div>
    </div>
    
    <div class="container">
      <div class="form-container">
        <form [formGroup]="form" (ngSubmit)="guardarCambios()">
          <!-- Campo de Nombres -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nombres" formControlName="nombres">
          </mat-form-field>
  
          <!-- Campo de Apellidos -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Apellidos" formControlName="apellidos">
          </mat-form-field>
  
          <!-- Campo de Usuario -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Usuario" formControlName="username" maxlength="30">
          </mat-form-field>
  
          <!-- Campo de Contraseña -->
          <mat-form-field class="example-full-width">
            <input [type]="isPasswordVisible ? 'text' : 'password'" matInput placeholder="Contraseña" formControlName="contra" maxlength="200">
            <button mat-icon-button type="button" (click)="togglePasswordVisibility()">
              <mat-icon>{{ isPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
  
          <!-- Campo de Correo -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Correo" formControlName="correo" maxlength="50">
          </mat-form-field>
  
          <!-- Campo de Teléfono -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Teléfono" formControlName="telefono" maxlength="9">
          </mat-form-field>
  
          <!-- Campo de DNI (Debe ser ineditable) -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="DNI" formControlName="dni" maxlength="8" readonly>
          </mat-form-field>

  
          <!-- Botón de Guardar Cambios -->
          <div class="button-container">
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Guardar Cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  