body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F4F4;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    padding-top: 15vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center; /* Centrar el contenido horizontalmente */
}

.button-container {
    display: flex;
    justify-content: space-between; /* Espacia los botones */
    gap: 10px; /* Espacio entre los botones */
}

.profile-icon {
    font-size: 48px !important; /* Tamaño fijo y mayor para el icono */
    width: 48px; /* Ancho del contenedor para el icono */
    height: 48px; /* Altura del contenedor para el icono */
    color: #004229; /* Color verde oscuro */
    margin-right: 10px;
    line-height: 48px; /* Alineación vertical */
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-header h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2em; /* Tamaño ajustado para el título */
    color: #004229; /* Color del texto */
    margin: 0;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image-container {
    margin-bottom: 20px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-form {
    width: 100%;
}

.form-field {
    width: 100%;
    margin-bottom: 20px;
}

.button-container {
    text-align: center; /* Centrar el botón */
}

button[mat-raised-button] {
    padding: 15px 25px;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: white;
    background-color: #004229 !important; /* Fondo verde oscuro */
    border-radius: 5px;
    text-transform: none;
    transition: background-color 0.3s ease;
}

button[mat-raised-button]:hover {
    background-color: #006d5b !important; /* Verde más claro en el hover */
}
