<div class="edicion">
    <div class=" titulo">
        <div class="header">
            <h1>Mi Perfil</h1>
        </div>
    </div>
    <div class="top-container">
    </div>
    <div class="middle-content">
        <div class="image-container">
            <img src="assets/img/logoVerdeNavegacion.png" alt="" class="profile-image">
        </div>
    </div>
    <div class="container">
        
        
        <div class="form-container">
            <form [formGroup]="form" (submit)="guardarCambios()">
                <div class="input-field">
                    <div class="row-datos">
                        <div class="column">
                            <mat-form-field class="example-full-width">
                                <input formControlName="nombres" >
                            </mat-form-field>
                        </div>
                        <div class="column">
                            <mat-form-field class="example-full-width">
                                <input formControlName="apellidos">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="column">
                        <mat-form-field class="example-full-width">
                            <label>USUARIO</label>
                            <input formControlName="username">
                        </mat-form-field>
                    </div>
                    <div class="column">
                        <mat-form-field class="example-full-width">
                            <label>DNI</label>
                            <input formControlName="dni">
                        </mat-form-field>
                    </div>
                </div>
    
                <div class="row">
                    <div class="column">
                        <mat-form-field class="example-full-width">
                            <label>CONTRASEÑA</label>
                            <input matInput formControlName="contra" type="password">
                        </mat-form-field>
                    </div>
                    <div class="column">
                        <mat-form-field class="example-full-width">
                            <label>DIRECCIÓN</label>
                            <input formControlName="direccion">
                        </mat-form-field>
                    </div>
                </div>
    
                <div class="row">
                    <div class="column">
                        <mat-form-field class="example-full-width">
                            <label>CORREO</label>
                            <input formControlName="correo">
                        </mat-form-field>
                    </div>
                </div>
    
                <div class="row">
                    <div class="column">
                        <mat-form-field class="example-full-width">
                            <label>TELÉFONO</label>
                            <input formControlName="telefono">
                        </mat-form-field>
                    </div>
                </div>
    
                <div class="button-container">
                    <button mat-flat-button color="primary" [disabled]="form.invalid">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>
