<div class="edicion">
    <div class=" titulo">
        <div class="header">
            <h1>Mi Perfil</h1>
        </div>
    </div>
    <div class="top-container">
    </div>
    <div class="middle-content">
        <div class="image-container">
            <img src="assets/img/logoVerdeNavegacion.png" alt="">
        </div>
    </div>
    <div class="container">
        
        
        <div class="form-container">
            <form [formGroup]="form" (submit)="guardarCambios()">
                <div class="input-field">
                    <div class="row">
                        <div class="column">
                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="nombres" placeholder="Nombres">
                            </mat-form-field>
                        </div>
                        <div class="column">
                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="apellidos" placeholder="Apellidos">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="column">
                        <mat-form-field class="example-full-width">
                            <mat-label>USUARIO</mat-label>
                            <input matInput formControlName="username">
                        </mat-form-field>
                    </div>
                    <div class="column">
                        <mat-form-field class="example-full-width">
                            <mat-label>DNI</mat-label>
                            <input matInput formControlName="dni">
                        </mat-form-field>
                    </div>
                </div>
    
                <div class="row">
                    <div class="column">
                        <mat-form-field class="example-full-width">
                            <mat-label>CONTRASEÑA</mat-label>
                            <input matInput formControlName="contra" type="password">
                        </mat-form-field>
                    </div>
                    <div class="column">
                        <mat-form-field class="example-full-width">
                            <mat-label>DIRECCIÓN</mat-label>
                            <input matInput formControlName="direccion">
                        </mat-form-field>
                    </div>
                </div>
    
                <div class="row">
                    <div class="column">
                        <mat-form-field class="example-full-width">
                            <mat-label>CORREO</mat-label>
                            <input matInput formControlName="correo">
                        </mat-form-field>
                    </div>
                </div>
    
                <div class="row">
                    <div class="column">
                        <mat-form-field class="example-full-width">
                            <mat-label>TELÉFONO</mat-label>
                            <input matInput formControlName="telefono">
                        </mat-form-field>
                    </div>
                </div>
    
                <div class="button-container">
                    <button mat-flat-button color="primary" [disabled]="form.invalid">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>
