<div class="container">
    <!-- Título centrado -->
    <div class="title">
        <h2>Donfy</h2>
        <p>Impulsa donaciones transparentes y confiables, ayudando a ONGs a superar la corrupción y generar impacto
            positivo en Perú.</p>
    </div>

    <div class="cards-container">
        <!-- Usando *ngFor para listar las ONGs -->
        <div class="card" *ngFor="let ong of ongs">
            <img [src]="ong.imagenUrl || 'assets/img/default.jpg'" [alt]="ong.nombreONG">
            <div class="card-content">
                <h3>{{ ong.nombreONG }}</h3>
                <p>{{ ong.direccion }}</p>
                <p>{{ ong.ruc }}</p>
                <!-- Aquí pasamos el objeto completo -->
                <button mat-raised-button (click)="navegarADonacion(ong)">
                    Donar a {{ ong.nombreONG }}
                </button>
            </div>
        </div>
    </div>
</div>