<div class="container">
    <!-- Título centrado -->
    <div class="title">
        <h2>Donfy</h2>
        <p>Impulsa donaciones transparentes y confiables, ayudando a ONGs a superar la corrupción y generar impacto
            positivo en Perú.</p>
    </div>

    <!-- Lista de ONGs -->
    <div *ngIf="ongs.length > 0; else noOngs" class="cards-container">
        <!-- Usando *ngFor para listar las ONGs -->
        <div class="card" *ngFor="let ong of ongs">
            <img [src]="ong.imagenUrl || 'assets/img/default.jpg'" [alt]="ong.nombreONG">
            <div class="card-content">
                <h3>{{ ong.nombreONG }}</h3>
                <p>{{ ong.direccion }}</p>
                <p>{{ ong.ruc }}</p>
                <!-- Mostrar botón solo si el usuario NO es ADMINISTRADOR -->
                <button 
                    mat-raised-button 
                    *ngIf="loginService.showRole() !== 'ADMINISTRADOR'" 
                    (click)="navegarADonacion(ong)">
                    Donar a {{ ong.nombreONG }}
                </button>
            </div>
        </div>
    </div>

    <!-- Mensaje si no hay ONGs disponibles -->
    <ng-template #noOngs>
        <div class="no-ongs">
            <mat-icon>info</mat-icon>
            <p>No hay ONGs disponibles en este momento.</p>
        </div>
    </ng-template>
</div>
