body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F4F4;
}

.container {
    margin: 40px auto;
    text-align: center;
}

.title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 3.5em;
    color: #004229; 
    margin: 2% 0;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 4% 0;
}

.search-input {
    padding: 10px;
    border: 1px solid #004229;
    border-radius: 4px;
    width: 60%;
    margin-right: 10px;
}

.new-button {
    padding: 10px 20px;
    background-color: #004229;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

.new-button:hover {
    background-color: #006d5b;
}

.tabla {
    margin: 4% auto;
}

.custom-table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.tabla .mat-header-cell {
    background-color: #004229;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    padding: 10px;
}

.mat-cell {
    padding: 10px;
}

.no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: none;
    border-radius: none;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
  }
  
  .no-data p {
    margin: 0;
    font-weight: 600;
    color: #004229;
  }

.Ediciones {
    border: none;
    box-shadow: none;
    outline: none;
  }
  
  .Ediciones:focus, .Ediciones:hover {
    border: none;
    box-shadow: none;
  }
  
  