<div class="container">
    <div><h1 class="title"> Lista de Tipos de Notificaciones </h1></div>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">
            <!-- c1 Column -->
            <ng-container matColumnDef="c1">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element"> {{element.idTipoNotificacion}} </td>
            </ng-container>

            <!-- c2 Column -->
            <ng-container matColumnDef="c2">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>          
    </div>
</div>
