<div class="title-container" style="text-align: center;">
    <h1 style="color: #004229; font-size: 2.5em; margin-bottom: 10px;">
        Reporte de cantidad total de donativos por mes
    </h1>
    <p style="font-size: 1.2em; color: #004229; font-weight: bold;">
        Reporte Camila Fernanda Morales Farias - U202210327
    </p>
</div>

<!-- Contenedor para seleccionar el mes -->
<div class="year-selector" style="text-align: center; margin-bottom: 20px;">
    <label for="monthSelect" style="font-size: 1.2em; color: #004229;">Seleccionar mes: </label>
    <input type="number" id="monthSelect" [(ngModel)]="month" min="1" max="12" placeholder="Ingresa el mes"
        style="font-size: 1.1em; padding: 5px; width: 150px;">
    <button (click)="generarReporte()"
        style="font-size: 1.1em; padding: 5px 10px; margin-left: 10px; background-color: #004229; color: white; border: none; cursor: pointer;">
        Generar Reporte
    </button>
</div>

<!-- Contenedor para el gráfico -->
<div class="chart-container" style="text-align: center; width: 100%; max-width: 700px; margin: auto;">
    <!-- Mostrar gráfico si hay datos -->
    <canvas *ngIf="barChartData.length > 0" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [type]="barChartType" [legend]="barChartLegend" style="width: 100%; height: 400px;">
    </canvas>

    <!-- Mostrar mensaje cuando no haya datos -->
    <p *ngIf="barChartData.length === 0" style="font-size: 1.5em; color: #004229; font-weight: bold;">
        No hay datos disponibles para el mes seleccionado.
    </p>
</div>
