/* Contenedor principal de la página */
.title-container {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para el título */
h1 {
    color: #004229;
    font-size: 2.5em;
    margin-bottom: 10px;
}

/* Estilo para la información del reporte */
p {
    font-size: 1.2em;
    color: #004229;
    font-weight: bold;
}

/* Contenedor para seleccionar el mes */
.year-selector {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para el campo de selección de mes */
#monthSelect {
    font-size: 1.1em;
    padding: 5px;
    width: 150px;
    margin-right: 10px;
}

/* Estilo para el botón de generar reporte */
button {
    font-size: 1.1em;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #004229;
    color: white;
    border: none;
    cursor: pointer;
}

/* Estilo para el contenedor del gráfico */
.chart-container {
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin: auto;
}
.chart-container p {
    text-align: center;
    color: #004229;
    font-size: 1.5em;
    font-weight: bold;
}
