<div class="container">
  <div class="form-container">
    <h1>Registro Roles</h1>
    <form [formGroup]="form" (ngSubmit)="aceptar()">
      <div class="input-field">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Id</mat-label>
          <input matInput formControlName="hid" readonly>
          <mat-error *ngIf="form.controls['hid'].hasError('required') && form.controls['hid'].touched">
            El Id es requerido.
          </mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field class="tipo">
            <mat-label>Roles</mat-label>
            <mat-select formControlName="hrol" >
            @for (qgtypes of listaRoles; track qgtypes) {
                <mat-option [value]="qgtypes.value">{{qgtypes.viewValue}}</mat-option>
            }
            </mat-select>
            <mat-error *ngIf="form.get('hrol')?.hasError('required')">
                Los Roles son obligatorios.
            </mat-error>
        </mat-form-field>
    </div>
    
      <mat-form-field class="example-full-width">
        <mat-label>Usuario</mat-label>
        <input
          type="text"
          matInput
          placeholder="Escribe el nombre de usuario"
          formControlName="husername"
          [matAutocomplete]="auto"
        >
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let user of filteredUsuarios | async" [value]="user.username">
            {{ user.username }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.get('husername')?.hasError('required')">
          Este campo es obligatorio.
        </mat-error>
      </mat-form-field>
      
      <!-- Mostrar mensaje de error si el usuario ya tiene un rol -->
      <div *ngIf="mensajeError" class="error-message">
        {{ mensajeError }}
      </div>

      <div class="button-container">
        <button mat-flat-button color="primary">Registrar</button> 
      </div>
      <div class="button-container">
        <button mat-flat-button color="primary" [routerLink]="['/Roles']" style="background-color: #004d00;" >Cancelar</button>
    </div>
    </form>
  </div>
</div>
