<section class="hero">
    <img src="assets/img/Fondo-home.jpg" alt="" class="image">
    <div class="hero-content">
        <h1>¿Qué hacemos?</h1>
        <p>
            Tú también puedes ser parte de esta misión y contribuir al cambio positivo en nuestra sociedad. Únete a DonFy y participa en la construcción de un futuro donde la solidaridad y la transparencia se unen para marcar la diferencia. Cada donativo que realizas es una semilla de cambio que cultivamos juntos. 
            ¡Haz tu donativo hoy y forma parte de nuestra comunidad comprometida con un mundo mejor!
        </p>
    </div>
</section>
