.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    margin-top: 20px; /* Empieza desde 20px del top */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px; /* Limita el ancho máximo */
    padding: 0 20px; /* Agrega espacio horizontal para dispositivos pequeños */
}

h1 {
    text-align: center;
    color: #004229;
    font-weight: bold;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    margin-bottom: 15px;
}

.notifications-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%; /* Ocupa el 100% del ancho disponible */
    max-width: 600px; /* Define un ancho máximo para las tarjetas */
}

.notification-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: #004229;
}

.card-message {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-footer {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: gray;
    font-size: 14px;
}

.card-footer .read {
    color: green;
    font-weight: bold;
}

.no-notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    font-size: 18px;
    margin-top: 20px;
}

.no-notifications mat-icon {
    font-size: 48px;
    margin-bottom: 10px;
}

button mat-icon {
    color: #004229;
}