<div class="container">
    <h1 class="title">{{ title }}</h1>
    <div *ngFor="let notification of dataSource.data" class="notification-card">
        <div class="card-header">
            <span class="type">{{ notification.tipoNotificacion.nombre }}</span>

            <div class="icons">
                <button mat-icon-button aria-label="Editar notificación" [routerLink]="['Modificar', notification.idNotificacion]">
                    <mat-icon style="color: #004229">edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="Eliminar notificación" (click)="eliminar(notification.idNotificacion)">
                    <mat-icon style="color: #004229">delete</mat-icon>
                </button>
            </div>

            <span class="status" [class.read]="notification.estado === 'Leído'">{{ notification.estado }}</span>
        </div>

        <div class="card-message">{{ notification.mensaje }}</div>
        <div class="card-footer">
            <span class="user">Usuario: {{ notification.usuarios.nombre }}</span>
        </div>
    </div>
</div>