<div class="container">
    <div class="header">
        <h1>Notificaciones</h1>
    </div>
    <div class="form-container">
        <form [formGroup]="form" (ngSubmit)="aceptar()">
            <!-- Campo "Id" solo de lectura si "edicion" es true -->
            <div class="input-field" *ngIf="edicion">
                <mat-form-field class="example-full-width">
                    <mat-label>Id</mat-label>
                    <input matInput formControlName="idNotificacion">
                </mat-form-field>
            </div>

            <!-- Campo "Mensaje" -->
            <div class="input-field">
                <mat-form-field class="example-full-width">
                    <mat-label>Mensaje</mat-label>
                    <input matInput placeholder="Ej. Notificación importante" formControlName="mensaje">
                    <mat-error *ngIf="form.get('mensaje')?.hasError('required')">El mensaje es requerido.</mat-error>
                </mat-form-field>
            </div>

            <!-- Campo "Estado" -->
            <div class="input-field"> 
                <mat-form-field class="example-full-width">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado" required>
                        <mat-option value="Leido">Leído</mat-option>
                        <mat-option value="No leido">No leído</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Campo "Tipo de Notificación" -->
            <div class="input-field" *ngIf="tiposNotificacion$ | async as tipos">
                <mat-form-field class="example-full-width">
                    <mat-label>Tipo de Notificación</mat-label>
                    <mat-select formControlName="tipoNotificacion">
                        <mat-option *ngFor="let tipo of tipos" [value]="tipo.idTipoNotificacion">
                            {{ tipo.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Campo "Usuario" -->
            <div class="input-field" *ngIf="usuarios$ | async as usuarios">
                <mat-form-field class="example-full-width">
                    <mat-label>Usuario</mat-label>
                    <mat-select formControlName="usuarioId">
                        <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id">
                            {{ usuario.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Botón de registro -->
            <div class="button-container">
                <button class="custom-button" [disabled]="form.invalid">Guardar</button>
            </div>
        </form>
    </div>
</div>