<mat-toolbar class="toolbar">
  <img class="img" src="assets/img/logoVerdeNavegacion.png" alt="" width="70" height="40">

  <div class="toolbar-left">
    <span class="donfy">Donfy</span>
  </div>

  <div class="toolbar-center" *ngIf="verificar() && !isSmallScreen">
    <div class="menu-navegacion">
      <button mat-button routerLink="/home">Inicio</button>

      <button mat-button [matMenuTriggerFor]="menuUsuario" *ngIf="isAdministrador()">Usuarios</button>
      <mat-menu #menuUsuario="matMenu">

        <button mat-menu-item routerLink="/Users">Información de Usuario</button>
        <button mat-menu-item routerLink="/Roles">Roles de Usuario</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuNotificaciones" *ngIf="isAdministrador()">Notificaciones</button>
      <mat-menu #menuNotificaciones="matMenu">
        <button mat-menu-item routerLink="/NotificationType" >Tipo de Notificaciones</button>
        <button mat-menu-item routerLink="/Notifications">Notificaciones</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuDonaciones" *ngIf="isAdministrador()">Donaciones</button>
      <mat-menu #menuDonaciones="matMenu">
        <button mat-menu-item routerLink="/DonationType">Tipo de Donaciones</button>
        <button mat-menu-item routerLink="/Donations">Donaciones</button>
      </mat-menu>

      <button mat-button *ngIf="isDonador() || isOng()" routerLink="/Notifications">Mis Notificaciones</button>
      <button mat-button *ngIf="isDonador() || isOng()" routerLink="/Donations">Mis Donaciones</button>
      <button mat-button *ngIf="isDonador() || isOng()" routerLink="/Vouchers">Mis vouchers</button>

      <button mat-button routerLink="/Vouchers" *ngIf="isAdministrador()">Vouchers</button>

      <button mat-button *ngIf="isDonador() ||isAdministrador()">ONG's</button>

      <button mat-button [matMenuTriggerFor]="menuReportes" *ngIf="isAdministrador()">Reportes</button>
      <mat-menu #menuReportes="matMenu">
        <button mat-menu-item routerLink="/reportes/donanteXfecha">Donante por fecha</button>
        <button mat-menu-item routerLink="/reportes/trendsDonaciones">Tendencias de Donaciones 6 meses</button>
        <button mat-menu-item routerLink="/reportes/MontoAnualOng">Monto Anual por ONG</button>
        <button mat-menu-item routerLink="/reportes/DonationEstadisticas">Estadisticas Donaciones</button>
      </mat-menu>
    </div>
  </div>

  <div class="toolbar-right">
    <div *ngIf="isDonador()">
      <span>S/</span><span style="margin-left: -5;">{{ saldo | number: '1.2-2' }}</span>
      <button mat-flat-button class="recargar-button" routerLink="/pago" extended>Recargar</button>
    </div>
    <div *ngIf="isOng()">
      <span>S/</span><span>{{ saldo | number: '1.2-2' }}</span>
      <button mat-flat-button class="recargar-button" routerLink="/retiro" extended>Retirar</button>
    </div>
    <button mat-icon-button class="acciones" [routerLink]="['/Users/Ediciones', username]">
      <mat-icon>account_circle</mat-icon>
    </button>
    <span style="margin-left: -5;">{{ username }}</span>

    <button mat-icon-button class="acciones" (click)="cerrar(confirmLogoutDialog)">
      <mat-icon>exit_to_app</mat-icon>
    </button>

    <div *ngIf="isSmallScreen" class="toolbar-right">
      <button mat-icon-button class="acciones" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <div *ngIf="isMenuOpen" class="menu-navegacion-hamburguesa">
        <button mat-button routerLink="/home">Inicio</button>
  
        <button mat-button [matMenuTriggerFor]="menuUsuario" *ngIf="isAdministrador()">Usuarios</button>
        <mat-menu #menuUsuario="matMenu">
  
          <button mat-menu-item routerLink="/Users">Información de Usuario</button>
          <button mat-menu-item routerLink="/Roles">Roles de Usuario</button>
        </mat-menu>
  
        <button mat-button [matMenuTriggerFor]="menuNotificaciones" *ngIf="isAdministrador()">Notificaciones</button>
        <mat-menu #menuNotificaciones="matMenu">
          <button mat-menu-item routerLink="/NotificationType" >Tipo de Notificaciones</button>
          <button mat-menu-item routerLink="/Notifications">Notificaciones</button>
        </mat-menu>
  
        <button mat-button [matMenuTriggerFor]="menuDonaciones" *ngIf="isAdministrador()">Donaciones</button>
        <mat-menu #menuDonaciones="matMenu">
          <button mat-menu-item routerLink="/DonationType">Tipo de Donaciones</button>
          <button mat-menu-item routerLink="/Donations">Donaciones</button>
        </mat-menu>
  
        <button mat-button *ngIf="isDonador() || isOng()" routerLink="/Notifications">Mis Notificaciones</button>
        <button mat-button *ngIf="isDonador() || isOng()" routerLink="/Donations">Mis Donaciones</button>
        <button mat-button *ngIf="isDonador() || isOng()" routerLink="/Vouchers">Mis vouchers</button>
  
        <button mat-button routerLink="/Vouchers" *ngIf="isAdministrador()">Vouchers</button>
  
        <button mat-button *ngIf="isDonador() ||isAdministrador()">ONG's</button>
  
        <button mat-button [matMenuTriggerFor]="menuReportes" *ngIf="isAdministrador()">Reportes</button>
        <mat-menu #menuReportes="matMenu">
          <button mat-menu-item routerLink="/reportes/donanteXfecha">Donante por fecha</button>
          <button mat-menu-item routerLink="/reportes/trendsDonaciones">Tendencias de Donaciones 6 meses</button>
          <button mat-menu-item routerLink="/reportes/MontoAnualOng">Monto Anual por ONG</button>
          <button mat-menu-item routerLink="/reportes/DonationEstadisticas">Estadisticas Donaciones</button>
        </mat-menu>
      </div>
    </div>
    
    <ng-template #confirmLogoutDialog>
      <h2 mat-dialog-title>Cerrar Sesión</h2>
      <mat-dialog-content>¿Estás seguro de que deseas cerrar sesión?</mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button mat-dialog-close>No</button>
        <button mat-button [mat-dialog-close]="'confirm'" cdkFocusInitial>Sí</button>
      </mat-dialog-actions>
    </ng-template>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
