<mat-toolbar class="toolbar">
  <img class="img" src="assets/img/logoVerdeNavegacion.png" alt="" width="70" height="40">

  <div class="toolbar-left">
    <span class="donfy">Donfy</span>
  </div>

  <!-- Menú de navegación visible solo en pantallas grandes -->
  <div class="toolbar-center" *ngIf="verificar() && !isSmallScreen">
    <div class="menu-navegacion">
      <button mat-button routerLink="/home">Inicio</button>

      <button mat-button [matMenuTriggerFor]="menuUsuario" *ngIf="isAdministrador()">Usuarios</button>
      <mat-menu #menuUsuario="matMenu">

        <button mat-menu-item routerLink="/Users">Información de Usuario</button>
        <button mat-menu-item routerLink="/Roles">Roles de Usuario</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuNotificaciones">Notificaciones</button>
      <mat-menu #menuNotificaciones="matMenu">
        <button mat-menu-item routerLink="/NotificationType" *ngIf="isAdministrador()">Tipo de Notificaciones</button>
        <button mat-menu-item routerLink="/Notifications" *ngIf="isDonador()">Notificaciones</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuDonaciones">Donaciones</button>
      <mat-menu #menuDonaciones="matMenu">
        <button mat-menu-item routerLink="/DonationType" *ngIf="isAdministrador()">Tipo de Donaciones</button>
        <button mat-menu-item routerLink="/Donations" *ngIf="isDonador()">Donaciones</button>
      </mat-menu>

      <button mat-button>ONG's</button>
      <button mat-button routerLink="/comprobante" *ngIf="isDonador() || isAdministrador()">Comprobantes</button>

    </div>
  </div>

  <!-- Menú de navegación (hamburguesa) visible solo en pantallas pequeñas -->
  <div *ngIf="isSmallScreen" class="toolbar-right">
    <button mat-icon-button class="acciones" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <div *ngIf="isMenuOpen" class="menu-navegacion-hamburguesa">
      <button mat-button routerLink="/reportes">Inicio</button>

      <button mat-button [matMenuTriggerFor]="menuUsuarios">Usuarios</button>
      <mat-menu #menuUsuarios="matMenu">
        <button mat-menu-item routerLink="/Users">Información de Usuario</button>
        <button mat-menu-item routerLink="/Roles">Roles de Usuario</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuNotificaciones">Notificaciones</button>
      <mat-menu #menuNotificaciones="matMenu">
        <button mat-menu-item routerLink="/NotificationType">Tipo de Notificaciones</button>
        <button mat-menu-item routerLink="/Notifications">Notificaciones</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuDonaciones">Donaciones</button>
      <mat-menu #menuDonaciones="matMenu">
        <button mat-menu-item routerLink="/DonationType">Tipo de Donaciones</button>
        <button mat-menu-item routerLink="/Donations">Donaciones</button>
      </mat-menu>

      <button mat-button>ONG's</button>
      <button mat-button routerLink="/comprobante">Comprobantes</button>
    </div>
  </div>

  <!-- Menú derecho con saldo y botones -->
  <div class="toolbar-right">
    <div *ngIf="isDonador()">
      <span>S/</span><span style="margin-left: -5;">{{ saldo | number: '1.2-2' }}</span>
      <button mat-flat-button class="recargar-button" routerLink="/pago" extended>Recargar</button>
    </div>
    <div *ngIf="isOng()">
      <span>S/</span><span>{{ saldo | number: '1.2-2' }}</span>
      <button mat-flat-button class="recargar-button" extended>Retirar</button>
    </div>
    <button mat-icon-button class="acciones" [routerLink]="['/Users/Ediciones', username]">
      <mat-icon>account_circle</mat-icon>
    </button>
    <span style="margin-left: -5;">{{ username }}</span>
    <button mat-icon-button class="acciones" routerLink="/landing" (click)="cerrar()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
