<mat-toolbar class="toolbar" >
  <img class="img" src="assets/img/logoVerdeNavegacion.png" alt="" width="70" height="40">
  <div class="toolbar-left">
    <span class="donfy">Donfy</span>
  </div>
  <div class="toolbar-center" *ngIf="verificar()">
    <div class="menu-navegacion">
      <button mat-button routerLink="/reportes">Inicio</button>

      <button mat-button [matMenuTriggerFor]="menuUsuario" *ngIf="isDonador()">Usuarios</button>
      <mat-menu #menuUsuario="matMenu">
        <button mat-menu-item routerLink="/Users">Información de Usuario</button>
        <button mat-menu-item routerLink="/Roles">Roles de Usuario</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuNotificaciones" *ngIf="isAdministrador()">Notificaciones</button>
      <mat-menu #menuNotificaciones="matMenu">
        <button mat-menu-item routerLink="/NotificationType">Tipo de Notificaciones</button>
        <button mat-menu-item routerLink="/notificaciones">Notificaciones</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuDonaciones">Donaciones</button>
      <mat-menu #menuDonaciones="matMenu">
        <button mat-menu-item routerLink="/DonationType">Tipo de Donaciones</button>
        <button mat-menu-item routerLink="/Donations">Donaciones</button>
      </mat-menu>

      <button mat-button>ONG's</button>

      <button mat-button routerLink="/comprobante">Comprobantes</button>
    </div>
  </div>
  <div class="toolbar-right" >
    <div *ngIf="isDonador()">
      <span>S/</span><span style="margin-left: -5;">{{saldo | number: '1.2-2' }}</span>
      <button mat-flat-button class="recargar-button" routerLink="/pago" extended>Recargar</button>
    </div>
    <div *ngIf="isOng()">
      <span>S/</span><span>{{saldo | number: '1.2-2' }}</span>
      <button mat-flat-button class="recargar-button" extended>Retirar</button>
    </div>
    <button mat-icon-button class="acciones" routerLink="/pago" routerLink="/Users/Ediciones/:id" >
        <mat-icon>account_circle</mat-icon>
    </button>
    <span style="margin-left: -5;">{{ username }}</span>
    <button mat-icon-button class="acciones" routerLink="/landing" (click)="cerrar()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
