.toolbar {
    background-color: #004229;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.toolbar-left {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.toolbar-center {
    flex: 10;
    display: flex;
    justify-content: center;
}

.img {
    margin-left: 1.5rem; 
}

.donfy {
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
}

.menu-navegacion {
    display: flex;
    justify-content: center;
    gap: 1.3rem;
}

.menu-navegacion button {
    background: transparent;
    color: white;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

.menu-navegacion button:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.toolbar-right {
    display: flex;
    align-items: center;
    margin-right: 2rem; 
    gap: 0.5rem;
}

.toolbar-right div {
    display: flex;
    align-items: center;
}

.toolbar-right span {
    font-family: 'Lato', sans-serif; 
    margin-right: 1rem;
    font-size: 1.2rem;
}

.toolbar-right .recargar-button {
    background-color: #004D29;
    color: #ffffff;
    border-radius: 10px; 
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    font-family: 'Lato', sans-serif;
}

.toolbar-right .acciones {
    background: transparent;
    border: none;
}

.toolbar-right .acciones mat-icon {
    color: white;
    font-size: 1.5rem;
}

.toolbar-right button:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}
