.title-container h1 {
    color: #004229;
    font-size: 2em;
    margin-bottom: 10px;
}

.date-range input {
    padding: 5px;
    width: 80px;
    display: inline-block;
}

.chart-container {
    text-align: center;
    margin-top: 20px;
}

.no-data {
    text-align: center;
    color: #004229;
    font-weight: bold;
    margin-top: 20px;
}